@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      @apply scroll-smooth;
    }
  }

  html {
    font-family: Roboto, sans-serif;
  }

  section {
    @apply scroll-mt-20 p-8 lg:px-16;

    /* * {
      outline: 2px solid orange;
    } */
  }

  a {
    @apply inline-block transition-colors;
  }

  h2 {
    @apply mb-4 text-center text-5xl font-bold;
  }

  input,
  textarea {
    @apply bg-zinc-800 px-4 py-2 text-white shadow-inner placeholder:text-zinc-300 focus:outline-none;
  }

  input {
    @apply rounded-full;
  }

  textarea {
    @apply rounded-lg;
  }
}

@layer components {
  /*===============================================================================
  GLOBAL COMPONENTS
  ================================================================================*/
  .section-nav {
    a {
      @apply px-4 py-2 hover:bg-gray-500;
    }
  }

  .main-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("../images/site-banner.jpg");
  }

  .btn {
    @apply rounded-md px-4 py-2;
  }

  /*===============================================================================
                                SECTION COMPONENTS
  ================================================================================*/
  /*--------------------------------------------------------------------------------
  |       PRODUCTS SECTION                                                         |
  --------------------------------------------------------------------------------*/
  .products-grid {
    @apply grid grid-cols-1 gap-8 text-white sm:grid-cols-2 md:grid-cols-3;

    .product {
      @apply flex aspect-square w-full cursor-pointer flex-col items-center justify-center rounded-bl-md rounded-br-[3.5rem] rounded-tl-[3.5rem] rounded-tr-md bg-black bg-opacity-25 bg-cover bg-center bg-blend-multiply shadow-lg transition-all;

      .title {
        @apply mb-4 text-center text-3xl font-bold;
      }

      .product-btn {
        @apply btn bg-brand-green-dark transition-all hover:bg-red-600;
      }
    }
  }

  /*--------------------------------------------------------------------------------
  |       FAQ SECTION                                                         |
  --------------------------------------------------------------------------------*/
  .faq-detail {
    @apply w-full bg-red-600;

    .faq-summary {
      @apply bg-slate-600 p-4;
    }
  }
}
