//************************************************
// This is the Landing Page of the website.
//************************************************
@use "global" as *;
@use "utils" as *;
@use "components" as *;

// FIXME: There is a problem where I need a way to
// determine how much content is in the card.
// However, the card is positioned absolutely so
// I have to somehow figure iyt how to do it. I
// might use JavaScript since CSS is set and
// unchangeable b y itself.

/*================================================  
          PRODUCT-CARDS-SECTION
================================================*/
.card-grid {
  @extend %grid;

  .card-container {
    //*** Position ***//
    position: relative;

    //*** Appearance ***//
    height: toRem(375);

    //*** Behaviour ***//
    perspective: toRem(800);
    transition: transform 0.25s ease-in-out;

    &:hover {
      //*** Behaviour ***//
      transform: translateY(-1rem);
    }
  }
}

.card {
  //*** Position ***//
  position: absolute;

  //*** Appearance ***//
  height: 100%;
  width: 100%;

  //*** Behaviour ***//
  @include select-none;
  transform-style: preserve-3d;
  transition: transform 0.25s ease-in-out;

  &:hover {
    .card__image {
      //*** Behaviour ***//
      transform: scale(1.25);
    }
  }

  &.flipped {
    //*** Behaviour ***//
    transform: rotateY(180deg);
  }

  &__close-button {
    //*** Position ***//
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    //*** Display ***//
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    //*** Appearance ***//
    @include rounded-square(toRem(40));
    background-color: var(--brand-green);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 1.25rem;

    //*** Behaviour ***//
    transition: transform 0.35s, box-shadow 0.35s;

    &:hover {
      //*** Appearance ***//
      transform: scale(1.15);

      //*** Behaviour ***//
      cursor: pointer;
      box-shadow: toRem(2) toRem(2) toRem(6) rgba(0, 0, 0, 0.25);
    }

    &:active {
      //*** Appearance ***//
      transform: scale(0.9);

      //*** Behaviour ***//
      transition: transform 0.15s;
    }
  }

  &__front {
    //*** Appearance ***//
    @include card-face;
    background-color: var(--brand-dark-blue);
    color: var(--secondary-color);
    border: toRem(2) solid var(--brand-green);
  }

  &__back {
    //*** Appearance ***//
    @include card-face;
    background-color: var(--secondary-color);
    border: toRem(2) solid var(--brand-green);

    //*** Behaviour ***//
    transform: rotateY(180deg);

    .card__title {
      //*** Position ***//
      margin-top: 3rem;
    }
  }

  &__content {
    //*** Appearance ***//
    padding: 0.75rem 1rem;
  }

  &__image-link {
    //*** Display ***//
    display: block;

    //*** Behaviour ***//
    overflow: hidden;
  }

  &__image {
    //*** Display ***//
    display: block;

    //*** Appearance ***//
    object-fit: cover;
    height: toRem(200);
    width: 100%;

    //*** Behaviour ***//
    transition: transform 0.35s ease-in-out;
  }

  &__title {
    //*** Position ***//
    margin-bottom: 0.75rem;

    //*** Appearance ***//
    font-size: 1.75rem;
  }

  &__more-info-button {
    //*** Position ***//
    margin-top: 0.75rem;

    //*** Appearance ***//
    @extend %button;
    background-color: var(--brand-green);
    color: var(--secondary-color);

    //*** Behaviour ***//
    transition: transform 0.35s;

    &:hover {
      //*** Appearance ***//
      transform: scale(1.05);
    }

    &:active {
      //*** Appearance ***//
      transform: scale(0.9);
    }
  }
}
